.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    letter-spacing: 10px;
    font-weight: 400;
  }

  p {
    font-size: 20px;
    margin: 40px 0px;
    font-weight: 500;
    letter-spacing: 1px;
  }

  button {
    margin: 20px 0px 20px 0px;
    color: white;
    font-size: 15px;
    font-weight: 300;
    padding: 12px 30px;
    letter-spacing: 2px;
    background-color: black;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  a {
    cursor: pointer;
  }
}
