.trivia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 40px 0px;
    letter-spacing: 10px;
    font-weight: 400;
  }

  h3 {
    letter-spacing: 1px;
    font-weight: 400;
  }

  .answer:hover {
    cursor: pointer;
    color: black;
    background-color: #ebebeb;
    transition: 1s;
  }

  .selected {
    cursor: pointer;
    background-color: #ebebeb;
    color: black;
  }

  p {
    padding: 10px 20px;
    border-radius: 30px;
  }

  button {
    margin: 20px 0px 20px 0px;
    color: white;
    font-size: 15px;
    padding: 12px 30px;
    letter-spacing: 2px;
    background-color: black;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .correct {
    background-color: #7faa78;
    font-weight: 500;
  }
}
